<footer class="footer">
    <div class="footer-container">
        <div class="copyright">
            <p>© 2025 Alejandro Grau</p>
        </div>
        <a class="link" href="https://www.linkedin.com/in/alejandro-grau/" target="_blank" rel="noopener noreferrer">
            <fa-icon class="icon" [icon]="faLinkedin" size="xl" />
            <div class="link-text">LinkedIn</div>
        </a>
        <a class="link" href="https://github.com/graua-git" target="_blank" rel="noopener noreferrer">
            <fa-icon class="icon" [icon]="faGithub" size="xl" />
            <div class="link-text">GitHub</div>
        </a>
    </div>
</footer>
