footer {
    background-color: var(--primary-color);
    padding: 10px;
}

.copyright {
    font-family: var(--font-secondary);
    color: var(--text);
    padding: 0px 10px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-text {
    padding-left: 10px;
    text-decoration: none;
}

a {
    color: var(--text);
    font-family: var(--font-secondary);
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
}

a:hover {
    color: var(--text-highlight);
}