footer {
    background-color: var(--primary-color);
    padding: 10px;
}

p {
    font-family: var(--font-secondary);
    color: var(--text);
    padding: 0px 10px;
}

a {
    color: var(--text);
    font-family: var(--font-secondary);
    font-size: 16px;
    padding: 0px 10px;
    cursor: pointer;
}

a:hover {
    color: var(--text-highlight);
}