@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

img {
    width: 300px;
    height: auto;
    animation: fadeIn 1s ease-in;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 2%;
    margin-top: 5%;
}

.text-container {
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

.title {
    color: var(--text);
    font-family: var(--font-primary);
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    animation: fadeIn 1s ease-in;
}

.subtitle {
    color: var(--text);
    font-family: var(--font-secondary);
    font-size: 44px;
    text-align: center;
    animation: fadeIn 1s ease-in;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;  
}

@media (max-width: 767px) {
    .home-container {
        flex-direction: column;
    }
}

