img {
    width: 300px;
    height: auto;
}

.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 2%;
    margin-top: 5%;
}

.text-container {
    align-items: center;
    justify-content: center;
    max-width: 500px;
}

.title {
    color: var(--text);
    font-family: var(--font-primary);
    font-size: 52px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    color: var(--text);
    font-family: var(--font-secondary);
    font-size: 44px;
    text-align: center;
}