@keyframes slideIn {
    from {
        position: relative;
        left: -100%;
    }
    to {
        left: 0;
    }
}

project-card {
    display: block;
    position: relative;
    animation: slideIn 1s ease-out forwards;
}

.projects {
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 50px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--text);
    font-family: var(--font-primary);
    font-size: 48px;
    margin: 15px;
    text-align: center;
}